body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dadada;
}

h1 {
  text-align: center;
  color: #333;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.post-card {
  background-color: #dadada;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  padding: 10px;
}

.post-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

.post-card h2 {
  font-size: 20px;
  color: #333;
}

.post-card p {
  font-size: 14px;
  color: #777;
}

.button {
  background-color: #007BFF;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 10px 2px;
  font-size: 14px;
}

.button:hover {
  background-color: #0056b3;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

form input, form button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #ffffff;
  background-color: #333;
}

form button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}
